body {
  font-family: "Gill Sans", sans-serif;
  color: black; 
}

h3 {
  color: rgb(4, 145, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}


/*---------------------Header-----------------------------------*/

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  color: black; 
  font-size: larger;
  background-image: linear-gradient(#19790a, rgb(4, 187, 53));
}

.navbar-brand  {
  width: 150%;
  height: 150%;
  margin-right: 6rem;
  max-width: 6rem;
}

.nav-link{
  color:black; 
}



/*---------------------Footer-----------------------------------*/
.site-footer {
  background-image: linear-gradient(#19790a, rgb(4, 187, 53));
  padding: 20px 0;
  margin-top: 2rem;
}

/*---------------------Home Page-----------------------------------*/

.home-page-carousel {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 300px;
}

.home-row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.home-row-content2 {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
  margin: 0px; 
}
